.planner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2rem;
    row-gap: 3rem;
}

.planner-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.planner-class {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.classSelect {
    margin-top: 1rem;
}

